extend ../layout

append css
    link(rel='stylesheet',href='/css/main/index.css')

block main

    style.
        
    div.post-title
        h1= scenic.title
        .info-part
            span= moment(scenic.created).format("YYYY-MM-DD")
            span 实习小编
            i.ctrlVoice.fa-stack.fa-lg.fa-spin
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-music.fa-stack-1x.fa-inverse
            audio(id="voiceAudio" class="hide" autoplay="autoplay" controls="controls",loop="loop",preload="auto",src='/uploads/voice/'+scenic.voice.filename)

    div.post-content
        != scenic.content

block scripts
    script.
        $(".ctrlVoice").on("click",function(){
            if($(this).hasClass("fa-spin")){
                $("#voiceAudio")[0].pause()
                $(this).removeClass('fa-spin')
            }else{
                $("#voiceAudio")[0].play()
                $(this).addClass('fa-spin')
            }
        })