doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= pageTitle
        block css
            link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
            link(rel='stylesheet',href='/css/admin/user.css')
            link(rel='stylesheet',href='/css/admin/indexAdmin.css')
            link(rel='stylesheet',href='/css/admin/common.css')
            link(rel='stylesheet',href='/components/font-awesome/css/font-awesome.css')
            link(rel='stylesheet',href='/components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css')
        
        style.
            .alert-content{
                position: absolute;
                top: 57px;
                right: 40px;
                z-index: 100;
            }
            .alert-part{
                background: rgba(255, 0, 0, 0.72);
                color: white;
                padding: 10px 20px;
                font-size: 20px;
                border-radius: 5px;
                display:block;
                max-width: 300px;
            }
    body
        .alert-content
            if errors&&errors.length
                each error in errors
                    a(href="javascript:;" class="alert-part")= error
        block main

        block js
            script(src='/components/jquery/dist/jquery.js')
            script(src='/components/bootstrap/dist/js/bootstrap.js')
            script(src="/components/jquery-validation/dist/jquery.validate.js")
            script(src="/components/jquery-validation/dist/additional-methods.js")                        
            script(src="/components/jquery-validation/dist/localization/messages_zh.js")
            script(src="/components/underscore/underscore-min.js")
            script(src="/components/jquery-upload-file/js/jquery.form.js")
            script(src="/components/jquery-upload-file/js/jquery.uploadfile.js")
            script(src="/components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js")
            script(src="/js/lib/common.js")
            script(src="/js/lib/ajaxUtil.js")
            script(src='/js/lib/urlData.js')
            script(src="/js/ckeditor/ckeditor.js")

        if ENV_DEVELOPMENT
            script(src='http://localhost:35729/livereload.js')

        block scripts

        script.
            $("body").on("click",".alert-part",function(){
                $(this).remove()
            })
            
