extend ../layout

append css
    link(rel='stylesheet',href='/css/main/index.css')

block main

    div.body-wrap
        div(class="map-content")
            img(src="/uploads/image/"+service.coverImage[0].filename)

        div.info-wrap
            a.more-btn(href="javascript:;")
                span.fa.fa-ellipsis-h
            div.info-content.hide
                h3= service.title
                p!= service.content
block scripts
    script.
        $(function(){
            $(".more-btn").on("click",function(){
                $(".info-content").slideToggle("fast");
            })
        })