extend ../layout

append css
    link(rel='stylesheet',href='/css/main/index.css')

block main

    style.

    div(class="am-slider am-slider-default",data-am-flexslider)
        ul.am-slides
            each info in infos
                if(info.recommend === true&&info.published ===true)                    
                    li
                        a(href="information/"+info.id)
                            img(src='/uploads/image/'+info.coverImage.filename)
                            div.am-slider-desc
                                //
                                    div.am-slider-content
                                        h2.am-slider-title 推荐景点
                                a.am-slider-more 点击图片了解更多                            

    div(class="part-title")
        h3 信息发布

    div(class="list-wrap")
        ul.list-content
            each info in infos
                if(info.published === true)
                    li.list-item
                        a(href="information/"+info.id)
                            .am-u-sm-7.no-padding-lr
                                h3= info.title
                                .am-list-item-text= info.info
                            .am-u-sm-5.no-padding-r
                                img(src='/uploads/image/'+info.coverImage.filename)
    
block scripts