extend ../layout

append css
    link(rel='stylesheet',href='/css/main/index.css')

block main

    style.
    
    div.post-title
        h1= info.title
        .info-part
            span= moment(info.created).format("YYYY-MM-DD")
            span 实习小编
    div.post-content
        != info.content

block scripts