extend ../layout

append css
    link(rel='stylesheet',href='/css/main/index.css')

block main

    style.
    
    div.post-title
        h1= route.title
        .info-part
            span= moment(route.created).format("YYYY-MM-DD")
            span 实习小编
            
    div.post-content
        != route.content

block scripts